allow mediaserver camera_data_file:file write;
allow mediaserver mfc_device:chr_file { read write ioctl open };
allow mediaserver ump_device:chr_file { read write ioctl open };
