allow init wpa_socket:unix_dgram_socket { bind create };
allow init init:process { execmem };
allow init init:tcp_socket { create };

allow init sysfs_display:lnk_file { read setattr };

allow init tmpfs:lnk_file create;
allow init sysfs_sensor:lnk_file { setattr read };

allow init rild:process noatsecure;

domain_trans(init, rootfs, gpsd)
domain_trans(init, rootfs, cpboot-daemon)
