allow sysinit firmware_exynos:dir { read search open getattr };
allow sysinit userinit_exec:file { getattr execute execute_no_trans read open };
allow sysinit firmware_exynos:dir { read search open getattr write remove_name add_name };
allow sysinit firmware_exynos:file { read open write getattr setattr create unlink };
allow sysinit sysinit:capability { dac_override chown fowner fsetid };
allow sysinit unlabeled:dir { search };
allow sysinit surfaceflinger_exec:file { getattr };
