allow system_server input_device:chr_file { read ioctl write open };
allow system_server sensors_device:chr_file { read open };
allow system_server sensors_data_file:file r_file_perms;
allow system_server wpa_socket:unix_dgram_socket sendto;
allow system_app volume_data_file:file { read write open getattr };

allow system_server sysfs:file { read open write };
allow system_server self:capability { sys_module };

# /efs/wifi/.mac.info
allow system_server wifi_data_file:file { read open };
