# Firmwares
allow ueventd { firmware_mfc }:file r_file_perms;
allow ueventd { firmware_exynos }:dir search;
allow ueventd { firmware_exynos }:file { read getattr open };
allow ueventd sysfs_display:file { write open };
