# MFC firmware
allow ueventd { firmware_mfc }:file r_file_perms;

# Camera related firmwares
allow ueventd { firmware_camera }:dir search;
allow ueventd { firmware_camera }:file r_file_perms;
